#shift-board-body .icon {
  font-family: "Material Icons", serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin-bottom: 4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/* VARIABLES */

:root {
  --main-color: #2f80ed;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}

/* GENERAL */

#shift-board-body {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  position: relative;
  box-sizing: border-box;
  margin: 24px 34px 24px 24px !important;
  min-width: 1000px !important;
}

#shift-board-body #shiftboard-main {
  display: block;
  margin: 0 auto;
}

/* GRID */

#shift-board-body .shiftboard-row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#shift-board-body .row-middle {
  align-items: center;
}

#shift-board-body .col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  position: relative;
}

#shift-board-body .col-start {
  justify-content: flex-start;
  text-align: left;
}

#shift-board-body .col-center {
  justify-content: center;
  text-align: center;
}

#shift-board-body .col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

#shift-board-body .calendar {
  display: flex;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

#shift-board-body .calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

#shift-board-body .calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

#shift-board-body .calendar .header .icon:hover {
  transform: scale(1.75);
  transition: 0.25s ease-out;
  color: var(--main-color);
}

#shift-board-body .calendar .header .icon:first-of-type {
  margin-left: 1em;
}

#shift-board-body .calendar .header .icon:last-of-type {
  margin-right: 1em;
}

#shift-board-body .calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: 0.75em 0;
  border-bottom: 1px solid var(--border-color);
}

#shift-board-body .calendar .body .cell {
  position: relative;
  height: 10em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

#shift-board-body .calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

#shift-board-body .calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #2f80ed 0%, #53cbf1 40%);
  border-image-slice: 1;
}

#shift-board-body .calendar .body .shiftboard-row {
  border-bottom: 1px solid var(--border-color);
}

#shift-board-body .calendar .body .siftboard-row:last-child {
  border-bottom: none;
}

#shift-board-body .calendar .body .cell:last-child {
  border-right: none;
}

#shift-board-body .calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  bottom: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

#shift-board-body .calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

#shift-board-body .calendar .body .cell .shiftboard-bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

#shift-board-body .calendar .body .cell:hover .shiftboard-bg,
#shift-board-body .calendar .body .selected .shiftboard-bg {
  opacity: 0.05;
  transition: 0.5s ease-in;
}

#shift-board-body .calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}
#shift-board-body .shiftboard-buttons {
  margin-right: 40px;
}
#shift-board-body .shiftboard-button {
  border: 2px solid #f8f9fa;
  color: gray2 #666666;
  border-radius: 4px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  background: #f8f9fa;
  border-radius: 4px;
  width: 66px;
  height: 36px;
}
#shift-board-body .shiftboard-button-active {
  border: 2px solid#2F80ED;
  background: #2f80ed;
  color: #fff;
  width: 75px;
  height: 36px;
}
#shift-board-body #nurse-shiftboard-heading-name {
  text-align: left;
  margin: auto;
  margin-left: 40px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
  text-transform: capitalize;
}
#shift-board-body #nurse-shiftboard-heading-date {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  text-transform: uppercase;
  margin: 0px 25px;
  /* gray1 */

  color: #333333;
}
#shift-board-body .nurse-shift-weekly {
  border-bottom: 1px solid #f2f2f2;
  display: flex;
}
#shift-board-body .nurse-shiftboard-weekly-shift-heading {
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 5px;
  border-left: 1px solid #f2f2f2;
  text-align: center;
}
#shift-board-body .nurse-shiftboard-weekly-shift-heading span {
  color: #75b1e4;
}
#shift-board-body #nurse-shift-board-screen-modal-background {
  position: fixed;
  background: #0000000c;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
#shift-board-body
  #nurse-shift-board-screen-modal-background
  #nurse-shift-board-screen-modal {
  position: relative;
}
#shift-board-body
  #nurse-shift-board-screen-modal-background
  #nurse-shift-board-screen-modal
  #nurse-shift-board-screen-modal-button {
  border: none;
  background: none;
  position: absolute;
  right: 10px;
  top: 5px;
}
#shift-board-body
  #nurse-shift-board-screen-modal-background
  #nurse-shift-board-screen-modal
  #nurse-shift-board-screen-modal-button
  img {
  width: 12px;
}
#shift-board-body #monthly-view-week-header {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  color: #333333;
}
#shift-board-body #shiftboard-monthly-cells-number {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 24px;
  /* identical to box height, or 240% */
  text-align: right;

  /* primary/ Shade 3 */

  color: #75b1e4;
  position: absolute;
}
#shift-board-body #shiftboard-weekly-cells-number {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 24px;
  /* identical to box height, or 240% */
  text-align: right;

  /* primary/ Shade 3 */
  color: #75b1e4;
  position: absolute;
  top: -8px;
  right: 10px;
}
