$primary: #215eaa;
$secondary: #e9933c;
$info: #2f80ed;
$success: #27ae60;
$danger: #eb5757;
$warning: #e2b93b;
$dark: #000;
$white: #ffffff;
$light: #e5e5e5;

@import "~bootstrap/scss/bootstrap.scss";
